/* big tablets 1200px */
@media only screen and (max-width: 1200px) {
    .hero-text-box{
    width: 100%;
    padding: 0 2%;
}
}


/* small tablets to big tablets from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    .section-testimonials{
    margin-top: 300px;
    height: 380px;
    }
    .section-plans{
    margin-top: 680px;
    }
    .section-form h2{
        margin-top: 90px;
    }
}


/* small phones to small tablets from 481px to 767px */
@media only screen and (max-width: 767px) {
    .works-step{
    margin-bottom: 20px;
    margin-right: 25px;
    }
    .app-screen{
        width: 35%;
    }
    .works-step div{
        height: 50px;
        width: 50px;
        font-size: 130%;
    }
    .btn-app img{
        width: 150px;
    }
    .section-form h2{
        margin-top: 150px;
    }
    input[type=text], input[type=email], select, textarea{
    /* width: 100%; */
    margin: 5px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
    }
    .footer-nav li, .social-links li{
    display: inline-block;
    margin-right: 10px;
    }
}


/* small phones from 0 to 480px
@media only screen and (max-width: 480px) {
    
} */

 /* small phones from 0 to 480px */
@media only screen and (max-width: 480px) {

html{
    font-size:16px;
}

/* hero section */
.hero-text-box{
    width:100%;
    padding:0 10px;
}

h1{
    font-size:180%;
}

/* navigation */
.logo{
    height:70px;
}

.main-nav{
    float:none;
    text-align:center;
    margin-top:20px;
}

.main-nav li{
    display:block;
    margin:10px 0;
}

/* grid columns full width */
.col{
    width:100% !important;
    margin-bottom:25px;
}

/* meals images */
/* .meal-photo img{
    transform: scale(1);
} */

.meals-showcase li{
    width:100%;
}

/* steps section */
.steps-box{
    text-align:center;
}

.app-screen{
    width:60%;
}

/* buttons app */
.btn-app img{
    width:120px;
}

.section-testimonials{
    margin-top: 1200px;
    color: #000;
    background: none;
}

/* plans */
.plan-box{
    width:100%;
    margin-left:0;
}

.section-plans{
    margin-top: 1850px;
}

.section-form{
    margin-top: 3100px;
}

.label-form{
    height: 100px;
}

/* form */
.contact-form{
    width:100%;
}

/* footer */
.footer-nav,
.social-links{
    float:none;
    text-align:center;
}

.footer-nav li,
.social-links li{
    display:block;
    margin:8px 0;
}
}
